In [1]:
import pandas as pd 
import numpy as np

In [9]:
df=pd.read_csv('train.csv')[['Age','Pclass','SibSp','Parch','Survived']]
df.head()

    Age  Pclass  SibSp  Parch  Survived
0  22.0       3      1      0         0
1  38.0       1      1      0         1
2  26.0       3      0      0         1
3  35.0       1      1      0         1
4  35.0       3      0      0         0

In [23]:
df['Age']=df['Age'].fillna(df['Age'].mean())

In [25]:
df.isna().sum()

Age         0
Pclass      0
SibSp       0
Parch       0
Survived    0
dtype: int64

In [11]:
from sklearn.model_selection import train_test_split

In [27]:
X_train,X_test,y_train,y_test=train_test_split(df.drop('Survived',axis=1),df['Survived'],test_size=.3,random_state=42)

In [29]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.7201492537313433

In [31]:
df.head()

    Age  Pclass  SibSp  Parch  Survived
0  22.0       3      1      0         0
1  38.0       1      1      0         1
2  26.0       3      0      0         1
3  35.0       1      1      0         1
4  35.0       3      0      0         0

In [33]:
df['family']=df['SibSp']+df['Parch']+1

In [35]:
df.head()

    Age  Pclass  SibSp  Parch  Survived  family
0  22.0       3      1      0         0       2
1  38.0       1      1      0         1       2
2  26.0       3      0      0         1       1
3  35.0       1      1      0         1       2
4  35.0       3      0      0         0       1

In [37]:
df['family']=df['family'].apply(lambda x : 0 if x==1 else 1 if x<=4 else 2 )

In [39]:
df.sample(5)

           Age  Pclass  SibSp  Parch  Survived  family
503  37.000000       3      0      0         0       0
334  29.699118       1      1      0         1       1
566  19.000000       3      0      0         0       0
416  34.000000       2      1      1         1       1
464  29.699118       3      0      0         0       0

In [93]:
X=df[['Age','Pclass','family']]

In [95]:
y=df['Survived']

In [97]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.3,random_state=42)

In [99]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.7313432835820896

In [101]:
df1=pd.read_csv('train.csv')
df1['Name']

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [103]:
df1['Title']=df1['Name'].str.split(",",expand=True)[1].str.split('.',expand=True)[0]

In [105]:
df1.groupby('Title')['Survived'].mean().sort_values(ascending=False)

Title
Lady            1.000000
Ms              1.000000
Sir             1.000000
Mme             1.000000
the Countess    1.000000
Mlle            1.000000
Mrs             0.792000
Miss            0.697802
Master          0.575000
Major           0.500000
Col             0.500000
Dr              0.428571
Mr              0.156673
Capt            0.000000
Jonkheer        0.000000
Don             0.000000
Rev             0.000000
Name: Survived, dtype: float64

In [131]:
df1['is_Marrieds']=df1.apply(lambda x : 1 if x['Title']==' Mrs' else 0 ,axis=1)

In [133]:
df1['is_Marrieds'].value_counts()

is_Marrieds
0    766
1    125
Name: count, dtype: int64